<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Maintenance Page</title>
</head>

<body>
   <h1>We Will Be Right Back</h1>
    <p>This site is currently under construction we will be right back</p>
    {{> footer}}
</body>

</html>